services:
  postgres:
    image: postgres:18-alpine
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  server:
    build:
      context: .
      dockerfile: docker/server.Dockerfile
    env_file:
      - .env
    ports:
      - "4000:4000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - PORT=${PORT}
    depends_on:
      - postgres
    volumes:
      - ./apps/server:/app/apps/server
      - ./packages:/app/packages
      - /app/apps/server/node_modules
      - /app/node_modules
    networks:
      - app-network

  client:
    build:
      context: .
      dockerfile: docker/client.Dockerfile
    env_file:
      - .env
    ports:
      - "5173:5173"
    depends_on:
      - server
    volumes:
      - ./apps/client:/app/apps/client
      - ./packages:/app/packages
      - /app/apps/client/node_modules
      - /app/node_modules
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
